.Navigation {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    border: 2px solid white;
    box-shadow: 0 5px 5px #636262;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
  }
  
  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
  }
  
  ul li {
    list-style-type: none;
  }
  